@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@theme {
  --color-cherry: #990000;
  --color-white: #ffffff;
  --color-accent: #fff1f3;
  --font-heading: "Cinzel", serif;
  --font-body: "Poppins", sans-serif;
}
